<%- include('partials/header'); -%>
<body>
  <h1>Home</h1>
  <p><%= startingContent %></p>
  <% posts.forEach(function(post){ %>
    <h3><%= post.title %></h3><br />
    <% let dotPlaceholder=''; %>

    <% if (post.body.length > 140){ %>
      <% dotPlaceholder='...';%>
    <% }; console.log(post.title); %>
    <% let postLink = "/posts/"+ post.title; %>
    <h4><%= post.body.slice(0,100) + dotPlaceholder %><a href="/posts/<%=post.title%>">Read More</a></h4><br />
  <% }) %>


</body>
<%- include('partials/footer'); -%>
